* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 66.4vh;
    margin-top: 22px;
    margin: 15px;
    padding-bottom: 20px;
}

table {
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

table th {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    border: 1.5px solid #FF8C00;
    outline: 0.7px solid #FF8C00;
    padding: 15px;
}

table th,
table td {
    padding: 15px;
}

table td {
    text-align: left;
    font-size: 15px;
    border: 1px solid #FF8C00;
}

.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    border-radius: 5px;
}

.table-title {
    padding: 20px 30px;
    margin: -20px -25px 10px;
    background: linear-gradient(40deg, #FF8C00, #FF8C00);
    color: #fff;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.table-title h2 {
    font-size: 24px;
    margin: 5px 0 0;
}

@media only screen and (max-width: 768px) {
    table th,
    table td {
        padding: 10px;
        font-size: 16px;
    }
    .table-title {
        padding: 15px 20px;
    }
}
